MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/digidoc
AGORA_APP_ID=YOUR_AGORA_APP_ID_HERE
AGORA_APP_CERTIFICATE=YOUR_AGORA_APP_CERTIFICATE_HERE
JWT_SECRET=digidoc_super_secret_2026_change_this
JWT_EXPIRES=7d
ADMIN_EMAIL=admin@digidoc.com
ADMIN_PASSWORD=DigiDoc@2026
PORT=10000
NODE_ENV=production
FRONTEND_URL=https://www.pmcare.org
